/*.wrapperButton{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
}

.btn{
    height: 2rem;
    width: 6rem;
    border-radius: 0.5rem;
    background-color:rgb(157, 81, 227);
    color: aliceblue;
    font-size:large;
    border: none;
    font-family:'Comic Sans MS';
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    background-color: rgb(96, 14, 174); 
}*/

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(44, 11, 111, 0.5);
  }
  
.btn{
    margin-right: 30px;
    width: 100px; /* Establece el ancho deseado para el botón circular */
    height: 60px; /* Establece la misma altura que el ancho para hacerlo circular */
    border-radius: 50%; /* Aplica un radio de borde del 50% para hacerlo circular */
    background-color:rgb(157, 81, 227);
    color: aliceblue;
    font-family:'Comic Sans MS';
    font-size: 20px;
    box-shadow: 0px 0px 30px rgba(237, 234, 234, 0.5);
    border: none; /* Elimina el borde si no se necesita */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
}

.btn:hover {
    transform: scale(1.1);
    background-color: rgb(96, 14, 174); 
}

.searchBar{
    display: flex;
    align-items: center;
}

  